BODY {
	COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #000080
}
A:hover {
	COLOR: #000080; BACKGROUND-COLOR: #e0e0ff
}
A:hover {
	COLOR: #000080; BACKGROUND-COLOR: #e0e0ff
}
